<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="row">
                  <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body  p-4">
                            <div class="media" routerLink="/admin/banks">
                                <span class="mr-3">
                                    <i class="flaticon-381-newspaper"></i>
                                </span>
                                <div class="media-body text-white text-right">
                                    <p class="mb-1">Total Banks</p>
                                    <h3 class="text-white">{{TotalBank.length}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-success">
                        <div class="card-body  p-4">
                            <div class="media" routerLink="/admin/loans">
                                <span class="mr-3">
                                    <i class="flaticon-381-menu"></i>
                                </span>
                                <div class="media-body text-white text-right">
                                    <p class="mb-1"> Loan Categories</p>
                                    <h3 class="text-white">{{TotalLoans.length}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-info">
                        <div class="card-body  p-4">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="flaticon-381-user-7"></i>
                                </span>
                                <div class="media-body text-white text-right">
                                    <p class="mb-1">Total Leads</p>
                                    <h3 class="text-white">{{TotalLeads.length}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
